<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huiyun.amnews"
    android:versionCode="3"
    android:versionName="2.0.2" >


    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <application
        android:name="com.huiyun.amnews.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/vr_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <provider
            android:name="com.huiyun.amnews.util.MyProvider"
            android:authorities="com.huiyun.amnews.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <activity
            android:name="com.huiyun.amnews.ui.DownloadManagerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name="com.huiyun.amnews.ui.SettingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.huiyun.amnews.ui.UserSettingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.huiyun.amnews.ui.AboutusActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.huiyun.amnews.ui.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.huiyun.amnews.ui.Regist1Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.huiyun.amnews.ui.Regist2Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.huiyun.amnews.ui.Regist3Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.huiyun.amnews.ui.ShowImagesActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.huiyun.amnews.ui.SetNameActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.huiyun.amnews.ui.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.huiyun.amnews.MainActivity"/>
        <activity android:name="com.huiyun.amnews.ui.AppDettailsActivity2"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.huiyun.amnews.ui.MyCollectActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.huiyun.amnews.ui.MyTrampleActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.huiyun.amnews.ui.MyPraiseActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.huiyun.amnews.ui.VRCategoryActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.huiyun.amnews.ui.SearchActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.huiyun.amnews.ui.ForgetPwdActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name="com.huiyun.amnews.ui.MyWebViewActivity"
                  android:screenOrientation="portrait"/>

        <!--/***********************************新加***************************************/-->
        <activity android:name="com.huiyun.amnews.ui.ClassifyActivity"/>
        <activity android:name="com.huiyun.amnews.ui.CategoryListActivity"/>


        <!-- 友盟更新 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="577b0b15e0f55ac42800531e" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Wandoujia" />



    </application>



    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

</manifest>